*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Gruvbox dark palette */
  --gruvbox-dark0_hard: #1d2021;
  --gruvbox-dark0: #282828;
  --gruvbox-dark0_soft: #32302f;
  --gruvbox-dark1: #3c3836;
  --gruvbox-dark2: #504945;
  --gruvbox-dark3: #665c54;
  --gruvbox-dark4: #7c6f64;

  --gruvbox-gray: #928374;

  --gruvbox-light0_hard: #f9f5d7;
  --gruvbox-light0: #fbf1c7;
  --gruvbox-light0_soft: #f2e5bc;
  --gruvbox-light1: #ebdbb2;
  --gruvbox-light2: #d5c4a1;
  --gruvbox-light3: #bdae93;
  --gruvbox-light4: #a89984;

  --gruvbox-bright_red: #fb4934;
  --gruvbox-bright_green: #b8bb26;
  --gruvbox-bright_yellow: #fabd2f;
  --gruvbox-bright_blue: #83a598;
  --gruvbox-bright_purple: #d3869b;
  --gruvbox-bright_aqua: #8ec07c;
  --gruvbox-bright_orange: #fe8019;

  --output-height: 50vh;
  --output-header-height: 40px;
  --output-font-size: 20pt;
  --bg-color: var(--gruvbox-dark0);
  --fg-color: var(--gruvbox-light1);
  --header-height: 0;
  --input-panel-height: 50vh;
  --mocha-height: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: var(--header-height);
  position: relative;
  background-color: var(--bg-color);
  color: var(--fg-color);
  overflow-y: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#input-panel {
  height: var(--input-panel-height);
  overflow-y: auto;
}

#output {
  padding: 0 0 0 20px;
  border: 1px solid var(--gruvbox-dark4);
  height: calc(var(--output-height) + var(--output-header-height));
  width: 100%;
  background-color: var(--gruvbox-dark1);
  color: var(--gruvbox-light1);
  font-family: monospace;
  border-radius: 6px;
  box-shadow: 0 0 10px var(--gruvbox-dark3);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#output-content {
  white-space: pre-line;
  font-size: var(--output-font-size);
  overflow-y: auto;
  height: calc(var(--output-height) - var(--output-header-height));
  margin: 0;
  padding: 0;
}

#output-header {
  white-space: pre-line;
  height: var(--output-header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#output-header > .ctrl-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-right: 20px;
}

#output-header > .ctrl-buttons > span.btn {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--gruvbox-bright_orange);
  cursor: pointer;
  transition: color 0.3s ease;
}
#output-header > .ctrl-buttons > span.btn:hover {
  color: var(--gruvbox-bright_red);
}

#output-header::before {
  content: "Output:";
  font-size: 1.5rem;
}

#input {
  font-family: monospace;
  font-size: 1.8rem;
  width: calc(100% - 2 * 20px);
  margin: 0px 20px 50px 20px;
}

button {
  min-width: 150px;
  height: 40px;
  font-weight: bold;
  margin: 5px 10px;
  background-color: var(--gruvbox-bright_blue);
  color: var(--gruvbox-dark0_hard);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 0 var(--gruvbox-dark3);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
button:hover {
  background-color: var(--gruvbox-bright_orange);
  color: var(--gruvbox-light0_hard);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#mocha {
  height: var(--mocha-height);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-top: 2px solid var(--fg-color);
}

#mocha h3 {
  text-align: center;
  background-color: var(--gruvbox-dark3);
  padding: 10px 0;
  margin: 0;
  color: var(--gruvbox-bright_yellow);
  text-shadow: 0 0 3px var(--gruvbox-dark0);
}

#mocha-stats em,
#mocha-stats .progress {
  color: var(--fg-color);
}
